/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}

html, 
body {
    font-family: 'Lato', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texte {
    margin: 20px auto;
    height: 10px;
    width: 100px;
    background: black;
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 700;
}

.btn-primary {
    background: rgb(255, 255, 0);
    color: black;
}

.container {
    max-width: 1000px;
    display: block;
    margin: auto;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-dark {
    background: rgb(255, 255, 0);
    color: black;
}

.underline {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.chip {
    display: inline-block;
    text-align: center;
    width: 30px;
    border-radius: 100%;
    background: white;
    color: white;
}

.chip-yellow {
    background: rgb(255, 205, 0);
    color: black;
}


/* HEADER */
.header {
    background: black;
    overflow: auto;
    line-height: 1.7em;
}

.header nav h1 {
    float: left;
    padding: 20px;
    margin-bottom: 0;
}

.header nav h1 a {
    color: rgb(255, 255, 0);
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li {
    float: left;
}

.header nav ul li a {
    color: whitesmoke;
    padding: 20px;
    display: block;
}

.header nav ul li a:hover {
    background: rgb(255, 255, 0);
    color: black;
}

/* ICONES */
.enplus {
    overflow: auto;
    padding: 100px 0;
    text-align: center;
} 

.enplu {
    float: left;
    width: 50%;
}

/* IMAGE */
.para {
    height: 700px;
    background: url("https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245_1280.jpg") center center;
    background-size: cover;
    text-align: center;
}

.contenu {
    max-width: 600px;
    padding-top: 150px;
    color: white;
    margin: auto;
}

.contenu h1 {
    font-size: 50px;
}

.contenu p {
    font-size: 18px;
    letter-spacing: 0.5px;
}


/* COMMANDE */
.person {
    height: 700px;
    background: url("https://previews.123rf.com/images/marchie/marchie1809/marchie180900178/109458584-pizza-menu-template-for-restaurant-on-a-blackboard-background.jpg") center center;
    background-size: cover;
    text-align: center;
}
.commander {
    padding: 100px 0px;
    text-align: center;
}


/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}


/* WHERE */
.where {
    padding: 180px 0;
    overflow: auto;
    min-height: 100vh;
}

.where-img {
    float: left;
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
}

.where-text {
    float: right;
    width: ;
}


/* CONTACT */
.contact {
    padding: 180px 0px 100px 0px;
    min-height: 100vh;
}

.contact-form-container {
    max-width: 600px;
    margin: auto;
}

.contact-form-container form label {
    display: block;
    font-weight: 700;
}

.contact-form-container form input, 
textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.contact-form-container form textarea {
    min-height: 80px;
}

.pizza p {
    
}